apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-demo-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-demo
  template:
    metadata:
      labels:
        app: devops-demo
    spec:
      containers:
        - name: devops-demo
          image: 234189401549.dkr.ecr.us-east-1.amazonaws.com/devops-cicd-demo:v1
          ports:
            - containerPort: 3000

